{% extends 'base.html' %}
{% block contect %}
<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">درباره ما</h1>
                    <p class="lead fw-normal text-white-50 mb-0">تاریخچه ما</p>
                </div>
            </div>
        </header>
    <br><br>

<div class="container">
<div class="row">
    <center>
        <div class="col-10">
            <p align="justify">به فروشگاه ما خوش آمدید؛ جایی که تکنولوژی، کیفیت و اعتماد در کنار هم قرار گرفته‌اند تا تجربه‌ای متفاوت از خرید موبایل و لوازم دیجیتال برای شما فراهم شود.
            </p>
        </div>
    </center>
</div>
</div>
    <br><br>
{% endblock %}